[2018-09-11 08:04] sorami opened #4 "Dictionary file management structure"
Currently, the dictionary file is not included in the repository. We would like to make a flow to get these resources via the code, like [NLTK](https://www.nltk.org/data.html) (e.g., `import nltk; nltk.download()`) or [spaCy](https://spacy.io/usage/models) (e.g., `$python -m spacy download en`).

[2018-09-11 08:05] sorami opened #5 "Add more tests"
Currently we have almost zero tests.

[2018-09-11 08:05] sorami opened #6 "Add to PyPI"
After we settle the #4 and #5 .

[2018-09-11 08:06] sorami opened #7 "Plugin structure for Python version"
The original Java version has a plugin structure to add/remove extra process. How can we do similar thing with SudachiPy?

[2018-09-11 08:07] sorami opened #8 "Add more docstring"

[2018-09-11 08:07] sorami opened #9 "CI"

[2018-09-11 08:09] sorami opened #10 "Documentation"

[2018-09-11 08:10] sorami opened #11 "Integration with spaCy"

[2018-09-11 08:10] sorami opened #12 "Cross platform"

[2018-09-18 10:49] sorami opened #13 "User dictionary"

[2018-10-26 05:38] daisukelab opened #15 "dictionarylib not found"
Hi, I tried and got following error.
Is there anything needed to install?
Thank you.

[code]

[2018-10-26 06:50] mana-ysh commented on #15
Hi @daisukelab

You need to get the binary dictionary file and put it under `resources` directory, as well as getting the source code.
And I recommend to use the following commands to install now.
[code]
If you want to use `dictionary-full`, which has more morphemes, please download `sudachi-0.1.0-dictionary-full.zip` version.

[2018-10-26 06:58] fhudi commented on #15
Hi @daisukelab @mana-ysh
You can use the following syntax to skip cloning the repo manually
`pip install -e git+git://github.com/WorksApplications/SudachiPy@develop#egg=SudachiPy`

Currently installation can only be done in develop mode for SudachiPy.
Sorry for inconvenience caused.

Also currently dictionary is put under SudachiPy Folder (SudachiPy/resources/system.dic), which is not the case for

[2018-10-26 07:44] daisukelab commented on #15
@kazuma-t I'm sorry but issue is still there...

Thank you for your support, but it still doesn't work. Here's what have tried.

1. Following not-cloning procedure.
[code]
--> Problem 1: No SudachiPy/resources folder made.

2. Clone repo.
[code]

--> Problem 2: Dictionary still not found

3. Wrong folder name? rename then...
[code]
--> Same thing

4. Redo renaming, then install from cloned repo.
[

[2018-10-26 08:35] fhudi commented on #15
@daisukelab

This is the aforementioned problem, [Issues #4 dictionary file management structure](4).

Should use `-e` flag during installation. i.e. `pip install -e .`

For the complete syntax please follows @mana-ysh suggestion.
[code]

[2018-10-26 08:40] daisukelab commented on #15
Thank you, now issue have gone... This resolved issue.

[code]

Thank you all for quick support!

[2018-10-26 08:52] #15 closed, assigned to fhudi

[2018-10-28 05:37] daisukelab opened #17 "A text hooks AttributeError: EOS is not connected to BOS"
Hi, following text from wikipedia causes AttributeError.
It seems to be 100% reproducible. I used core dictionary.
(Excuse me to write with my wrapper code, I will take some time to remove unneeded lines if you want.)
Thanks.

[code]

[2018-10-28 07:36] mana-ysh commented on #17
Hi @daisukelab,

This problem is caused from inhibited connection.
One possible solution is just to remove the judgement parts of it ( line73-74 in `lattice.py`), but it's so adhoc and I'm not sure that it can work stably...

https://github.com/WorksApplications/SudachiPy/blob/2af5736107b3f8051a0ebdd84b3496094a98967c/sudachipy/lattice.py#L73

Please give me some time to check more carefully.

[2018-10-29 01:05] daisukelab commented on #17
Hi @mana-ysh,
Thank you for your comment, and please let me know if you need me to test something.
I have a lot to do with big wikipedia corpus.
So far making modification as suggested.

[2018-11-01 11:21] mana-ysh commented on #17
@daisukelab
I fixed this error. Please check if it works.

[2018-11-04 13:52] daisukelab commented on #17
@mana-ysh Hi, thanks for your fix, it have basically fixed original issue.
But another issue is now visible.

[code]

But this happens with specific python version:

- Reproduced with Python 3.6.5 :: Anaconda, Inc.
- Reproduced with Python 3.6.4 :: Anaconda custom (64-bit)
- Worked fine with Python 3.6.2 :: Anaconda custom (64-bit)

[code]

[2018-11-05 05:33] mana-ysh opened #19 "Tokenization fails because of UnicodeDecodeError for specific python versions"
Detail: https://github.com/WorksApplications/SudachiPy/issues/17#issuecomment-435671553

[2018-11-06 11:28] #17 closed, assigned to nobody

[2018-11-06 11:33] mana-ysh commented on #17
This issue was closed since the original problem was resolved.
Please refer #19 for another one.

[2018-11-20 10:07] kazuma-t commented on #19
I cannot reproduce with Python 3.6.4 on Ubuntu 18.04 (WSL)

[code]

I use the latest `system_core.dic`.

[2018-11-29 02:28] fhudi commented on #4
Dictionary is put on nexus dictionary https://oss.sonatype.org/content/repositories/snapshots/com/worksap/nlp/sudachi/

Will implement download and unpack programmatically function.

[2019-03-13 08:02] da-zhanglei commented on #13
Looking forward to this feature :)

[2019-04-07 01:11] marzenakrp opened #21 "Problem with installation"
Hi, I actually have some problems with installation.
I cannot install it with pip because I'm getting the following error:

` with open("README.md", encoding="utf-8") as f:
    TypeError: 'encoding' is an invalid keyword argument for this function
`

When I try to use pip3 it works but then I can't import it to python (no module error)

[2019-05-11 06:38] toshifumikuroda opened #22 "UnicodeDecodeError"
I got following error when splitting mobile app store description.
The description is
'Take advantage at the  Black Friday sale  with  50% off.Now for $1.99 for this successful Keyboard Application at  Google Play, Save money and tell your friends. The sale is extended till Monday , November 30, 2015. Don’t miss it! ai.type のスマートフォンやタブレットのための賢い、最もパーソナライズされたのキーボードです。全世界で2500万人を超えるユーザーにより、我々は、メッセージン

[2019-06-06 03:27] izziiyt opened #23 "replace function of UTF8InputTextBuilder"
implementation in utf8inputtextbuilder.py, at line 27

[code]
So the situation like bellow is happening.
Do you think it's normal ? If not I can fix it.

[code]

[2019-06-06 03:43] izziiyt commented on #21
@MaraPL

Probably it's too late for you but I'll answer your question.

This message looks that you are using python2.
Have you checked your python version ? README says Sudachi supports version over 3.5

Have you installed sudachi package in your proper environment ?
Have you confirmed sudachi package installed in proper dist-pakcages directory ?

[2019-06-06 05:35] izziiyt opened #24 "Assertion fail in test_utf8inputtext.py"
at line 140, test fails (original index is 8 I'd think ...)

[code]

[2019-06-10 03:46] izziiyt commented on #22
I assumed this is caused by emoji. (I met same error when the text contains emoji.)

So, I think easiest solution is emoji removal beforehand like

[code]

However, I think we, developer team, has 2 options for this topic

1. Sudachi supports emoji removal as plugin
2. Sudachi requires users emoji removal

[2019-06-10 04:10] toshifumikuroda commented on #22
Thank you for your suggestion.
I think emoji has its meanings. When analysing textdata by distributed
semantics like word2vec, removing "🐈", but not removing '猫' seems arbitrary.

I hope that sudachi adds emoji into its dictionary to split emoji as one word.
Thank you,
Toshi

[2019-06-10 06:30] izziiyt commented on #22
Thanks good idea, but I can't promise we'll do it. Now meanings and grammatical feature of emoji should be defined by users for their purpose. However, if we find requirements like yours are increasing and emoji is good theme for next step of Sudachi, probably we'll do it. Thank you for your good FB.

p.s) The problem that SudachiPy can't be applied to emoji-contained text because of UnicodeDecode

[2019-06-13 14:47] #21 closed, assigned to nobody

[2019-06-13 15:29] izziiyt commented on #22
I met this bug during adding test code. I reopened this issue and put in a milestone.

[2019-06-14 11:12] izziiyt opened #32 "refactor: sudachipy.Dictionary.__init__"
#### Requirement

`sudachipy.Dictionary` should be refactored to be testable.
Current `sudachipy.Dictionary` takes config file path and parse all parameters from files like dictionary written the config file.

I hope these files (name of files) can be programmable in python code in a simple manner.

#### Problem

I want to use test dictionary in all tests but in some tests it's difficult.

[2019-06-15 06:51] izziiyt opened #34 "Test for plugins"
depends on #7 #32

[2019-06-15 06:51] #23 closed, assigned to izziiyt

[2019-06-17 09:15] izziiyt opened #36 "add ignore_test_*.py to CI"
after #13

[2019-06-17 09:50] izziiyt commented on #5
A dozen of test_*.py added.
About remaining tasks, see #34, #36

[2019-06-17 09:52] #5 closed, assigned to izziiyt

[2019-06-19 03:58] #9 closed, assigned to izziiyt

[2019-06-19 04:04] izziiyt commented on #22
I probably fixed. Why I used "probably" is because I couldn't reproduce same error with same text.
If same error occurs, reopen or make new issue.

[2019-06-19 04:04] #22 closed, assigned to izziiyt

[2019-06-19 04:05] izziiyt commented on #19
I probably fixed. Why I used "probably" is because I couldn't reproduce same error with same text.
If same error occurs, reopen or make new issue.

[2019-06-19 04:05] #19 closed, assigned to nobody

[2019-06-19 04:05] #24 closed, assigned to izziiyt

[2019-07-02 13:22] hiroshi-matsuda opened #41 "Register module archive to PyPI"
There are big needs for using SudachiPy as a library hence I hope to do it by:
pip install SudachiPy

[2019-07-02 13:27] hiroshi-matsuda commented on #41
PyPI does not allow to upload > 50MB archives. It seems to small to include the dictionary. But still there are strong needs to publish the archive without dictionary from PyPI.

[2019-07-02 13:29] izziiyt commented on #41
This feature is related to #6
I know we need complete #4 beforehand.
I'll do #4 and #6 as next step

[2019-07-02 13:48] izziiyt opened #42 "edit connection cost plugin"
after #7

[2019-07-02 13:49] izziiyt opened #43 "prolonged sound mark ... plugin"
after #7

[2019-07-02 18:46] hiroshi-matsuda-rit commented on #41
Thanks, @izziiyt . Uchida-san requested me to order this task to you.
Anyway, I created a PR using latest SudachiPy in spaCy repository.
https://github.com/explosion/spaCy/pull/3899

[2019-07-04 13:58] #32 closed, assigned to izziiyt

[2019-07-04 13:58] #36 closed, assigned to izziiyt

[2019-07-04 13:59] #13 closed, assigned to izziiyt

[2019-07-04 14:16] izziiyt commented on #41
@hiroshi-matsuda I merged 2 MR. And make 2 releases `v0.1.2` and `v0.2.0`. The latest SudachiPy is same as `v0.2.0`. Please make sure that `v0.2.0` linearly depends on `v0.1.2`.

[2019-07-04 15:04] hiroshi-matsuda-rit commented on #41
@izziiyt Thanks a lot! I found setup.py correctly merged. I'd like to use 0.3.0 for spaCy and GiNZA new models.

[2019-07-07 04:35] izziiyt opened #47 "keep dictionary URL up-to-date"
in

- setup.py
- requirements.txt
- README.md

exact dictionary URL written like
[code]

we need rewrite when dictionary updates.

For easy operation, we need introduce approach like bellows

1. prepare proxy server to route exact URL
2. parse URL index file on web like nltk (https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml)

[2019-07-07 05:29] izziiyt commented on #4
with #46, SudachiPy can manage dictionary file using `pip` and `sudachipy link` now.

However, dictionary file is too big to publish via PyPI so like
[code]
is impossible.

[code]

is the current solutoin.

@sorami 's idea

is still active.

[2019-07-07 05:41] izziiyt commented on #6
#4 is not completely finished, but SudachiPy can be installed from `pip`.

[2019-07-07 05:41] #6 closed, assigned to kazuma-t, hiroshi-matsuda

[2019-07-07 05:49] izziiyt commented on #41
From v0.2.1 Users can download archive without dictionary from PyPI so I'll close here.
About management dictionary data, see #4.

[2019-07-07 05:49] #41 closed, assigned to izziiyt, kazuma-t, hiroshi-matsuda

[2019-07-07 06:37] izziiyt opened #49 "can't release v0.3.0"
Uploading PyPI failed. This is error message from travis

[code]

[2019-07-07 07:54] izziiyt commented on #49
#50
v0.3.1 successfully released https://pypi.org/project/SudachiPy/
Thanks @hiroshi-matsuda

[2019-07-07 07:54] #49 closed, assigned to izziiyt, hiroshi-matsuda

[2019-07-07 17:28] hiroshi-matsuda-rit opened #53 "v0.3.2 Install fails on Windows"
Unfortunately, encoding problem was happened on Windows while installing v0.3.2.
[code]
This is the log from spaCy's CI test environment.
[code]

[2019-07-08 05:23] izziiyt commented on #53
It looks the problem is caused from encoding matter.
I think specifying encoding solves this problem.
[code]
(I haven't tried and I don't have time just now. )

[2019-07-09 13:07] izziiyt commented on #12
At Travis CI, Windows support is early stage and It takes long long time for wait to create VM.
[appveyor](https://www.appveyor.com/) looks better for CI tool. This is just an idea, memo.

[2019-07-14 07:26] izziiyt commented on #53
`v0.3.3` solves this issue

[2019-07-14 07:26] #53 closed, assigned to nobody

[2019-07-16 05:33] fhudi commented on #4
I have tried this and it worked like magic! kudos

@sorami 's objective

IMO, objective has been achieved.
For the management of published dictionary itself is out of this issue's scope.

If there is no problem we can close this issue.
tag: @kazuma-t

[2019-07-17 15:35] izziiyt commented on #47
F.Y.I
https://github.com/WorksApplications/SudachiPy/issues/4#issuecomment-508972605

[2019-07-17 15:42] izziiyt commented on #4
@lintaoren I agree with you, objective has been almost achieved.
The current problem I mentioned https://github.com/WorksApplications/SudachiPy/issues/4#issuecomment-508972605
can be taken over to #47 .

[2019-07-18 16:16] #34 closed, assigned to izziiyt

[2019-07-18 16:17] #4 closed, assigned to fhudi

[2019-07-20 07:10] #43 closed, assigned to izziiyt

[2019-07-21 12:39] izziiyt opened #64 "Invalid space with voiced/semi-voiced sound mark"
https://github.com/WorksApplications/Sudachi/issues/48

[code]

[2019-07-21 12:43] izziiyt opened #65 "potential bug at connection matrix"
https://github.com/WorksApplications/Sudachi/issues/108

[2019-07-21 14:33] #64 closed, assigned to nobody

[2019-07-22 14:13] izziiyt opened #67 "test for dartsclone"

[2019-07-28 06:34] polm opened #68 "Proposal to simplify mode setting"
In example code I noticed the mode is passed to `tokenize` on every call, like this:

[code]

That strikes me as weird, since I assume usually you'll pick a single tokenization mode for any instance of a tokenizer and use it the whole time. Would it be possible to add a default mode when the tokenizer is constructed, something like this?

[code]

If this is acceptable I can submit a PR.

[2019-07-28 07:57] izziiyt commented on #68
@polm Thank you for your good suggestion.

In my personal opinion, your idea is reasonable as a user and setting default mode when initiating tokenizer is simple solution. ~~but I don't know how it is meaningful that `mode C` is assumed to be default in implementation .~~  ~~And, this is important point, this is incompatible change with Java Sudachi. I need to ask @kazuma-t about these two points.

[2019-07-31 13:23] izziiyt commented on #68
@polm Sorry for having you wait.  Your suggestion is acceptable.  Thanks.

[2019-07-31 15:05] polm opened #70 "README example tokenization seems off"
This is an example in the README:

    mode = tokenizer.Tokenizer.SplitMode.C
    [m.surface() for m in tokenizer_obj.tokenize("医薬品安全管理責任者", mode)]
    # => ['医薬品安全管理責任者']

However, if I run this example my output doesn't match the given output. I get this output:

    ['医薬品', '安全', '管理責任者']

I'm not sure if this is due to a change in the dictionary, a bug, or something else.

This is the output o

[2019-07-31 16:19] izziiyt commented on #70
This all connected result is from full-dic.

[2019-08-01 00:57] polm commented on #70
Oh wow, I completely missed the comment explaining that - sorry for the false alarm!

Would it be better to use a string where the tokenization is the same with the full and core dict?

[2019-08-01 01:17] izziiyt commented on #70
I appreciate any concern, thank you.
I agree almost. Actually one user (you) confused.

- mode A,B,C return different tokenized results
- all dic return same tokenized patterns with mode

is the best example.

But I think core dic example is enough if different mode returns different pattern because core dic is default dic.

[2019-08-01 02:08] #68 closed, assigned to nobody

[2019-08-01 03:08] izziiyt commented on #70
@polm I found good example `国家公務員` ! I'll update soon.

[2019-08-01 13:48] #70 closed, assigned to nobody

[2019-08-01 14:16] izziiyt opened #72 "multiple blanks parsed to multiple words"
https://github.com/explosion/spaCy/issues/3756#issuecomment-516020381

https://github.com/WorksApplications/Sudachi/issues/110#issue-475708033

[2019-08-01 14:24] izziiyt opened #73 "easy installable dictionary"
https://github.com/explosion/spaCy/issues/3756#issuecomment-516020381

Asking PyPI organization allowing 60MB limit exception for `full` and `core` dictionary.
This issue is heavily related to https://github.com/WorksApplications/SudachiDict

[2019-08-01 14:27] izziiyt opened #74 "faster parsing"
guessed bottle necks are
- fetch word info from dictionary
- fetch connection weight from matrix

[2019-08-07 12:30] izziiyt commented on #74
- [x] cythonize dartsclone (small effect to performance)
- [x] connection matrix access
- [x] parameterlist access
- [x] character type access
- [ ] text builder
- [ ] path rewrite plugin
- [ ] mecab oov plugin
- [ ] wordinfo access (memory usage vs speed)

[2019-08-08 08:09] AlloVince opened #80 "build user dictionary failed with a long csv"
Hi guys

I meet a issue when building a user dictionary with a little bit longer csv (224 lines), this will cause a exception as

[code]

Also here is the test code, you could save as file direct run it

[code]

[2019-08-08 11:18] izziiyt commented on #80
Thank you for your FB. Let me know which sudachipy version you used !

[2019-08-08 12:16] izziiyt commented on #80
I found it works with `experiment` branch (partially cythonized).
Could you check with `experiment` branch ?
[code]

[2019-08-08 12:47] AlloVince commented on #80
thank you for your quick reply, my version is 0.3.10

[2019-08-09 03:12] KHiyowa opened #82 "handling alphabet"
SudachiPy's alphabet handling is defferent from Sudachi(Java).

example: ideco
Sudachi:
ideco
ideco   名詞,普通名詞,一般,*,*,*        iDeCo
EOS

SudachiPy:
ideco
id      名詞,普通名詞,一般,*,*,*        ID
eco     名詞,普通名詞,サ変可能,*,*,*    エコ
EOS

Probably, it is caused by dictionary lookup position.

[2019-08-09 03:29] KHiyowa opened #83 "parsing user-dictionary name"
I wrote
"userDict" : "year.dic"
in sudachi.json and execute command line sudachipy, caused an error

FileNotFoundError: [Errno 2] No such file or directory: '~~/sudachipy/resources/y'

I rename 'year.dic' to 'y' ,wrote "userDict" : "y" in sudachi.json and execute, it can run normaly.

[2019-08-12 14:02] yummydum commented on #83
Although the document states that sudachi.json should be configured like below,

[code]
the code iterates over this dict["userDict"] as below (iteration on string).
https://github.com/WorksApplications/SudachiPy/blob/07d31beed246ddbb496b29f06a5167c373e1db0e/sudachipy/config.py#L119

Thus only the first character appears in the error message.
I replaced the values as a list, and then it works fine.

[2019-08-13 01:57] izziiyt commented on #83
@KHiyowa @yummydum Thanks. I'll update README.md

[2019-08-13 02:11] #83 closed, assigned to nobody

[2019-08-14 02:07] izziiyt commented on #82
I can't find clues with just simple investigation.
Please write SudachiPy version and dictionary version you used. Thanks.

[2019-08-14 04:18] KHiyowa commented on #82
Sudachi(Java): 0.3.0
SudachiPy: 0.3.11
Dict: SudachiDict_core-20190718

thanks.

[2019-08-21 11:36] izziiyt opened #86 "link command has inconsistent effect to build and tokenize command"
link command changes dictionary type for tokenize command but not for build and ubuild commands. It should have consistency.

[2019-08-23 03:30] BLKSerene opened #87 "Failed to install the dictionary on Windows"
Hi, I'm trying to install the built dictionary for Python following instructions in doc, but the installation failed. The same happens for the core dictionary, so is there anything that I've missed?

OS: Windows 10 64-bit
Python: 3.7.4 64-bit

[code]

[2019-08-23 10:59] fhudi commented on #87
Hi, I could not reproduce this. Tried on python 3.5.4 64 bit, Windows 10 64-bit command prompt.
Have you tried to re-download the SudachiDict file?

![image](https://user-images.githubusercontent.com/6541786/63587817-de54f780-c5df-11e9-8d60-62595a3636c1.png)

[2019-08-24 09:26] BLKSerene commented on #87
That's weird, it does work after re-downloading the dictionary. There might be some problems with my internet connections. Anyway, thanks!

[2019-08-24 09:26] #87 closed, assigned to nobody

[2019-08-24 10:57] BLKSerene opened #88 "What's the tagset used by SudachiPy?"
Hi, thanks for the great SudachiPy and I'm using it in my own project. I'm wondering that is there any reference for the tagset used by SudachiPy, since I want to convert the POS tags to [universal POS tags](http://universaldependencies.org/u/pos/all.html)?

[2019-08-24 13:43] izziiyt commented on #88
@BLKSerene Thank you for using and FB !

@kazuma-t Is there postag list, used in Sudachi, on public URL ?

[2019-08-24 15:51] #65 closed, assigned to nobody

[2019-08-26 10:58] fhudi commented on #88
Hi @BLKSerene, Sudachi is **based on [UniDic](https://unidic.ninjal.ac.jp/)**

You can use following public URL as a reference: https://hayashibe.jp/tr/mecab/dictionary/unidic/pos

[2019-08-26 14:15] BLKSerene commented on #88
@lintaoren Thanks for the information!

[2019-08-26 14:15] #88 closed, assigned to nobody

[2019-08-26 16:23] #86 closed, assigned to nobody

[2019-08-28 08:22] yuki-kaze commented on #80
お世話になります。

自然言語処理解析用のライブラリGinzaの活用を試行しています。
Ginzaをインストール時に、Ginzaに同梱されたSudacipyも同時にインストールされました。

そのSudachiPy用に用意したユーザー辞書をビルドしようとしたところ、
上記とほぼ同一のruntimeerrorが発生してしまいました。

環境としては以下のような構成となります。
Ｇinza                              2.0.0
ja-ginza                           2.1.0
SudachiDict-core             20190531
SudachiPy                         0.3.11

下記のexperiment branchはもはや存在しないでしょうか？
また、ginzaとは別に後

[2019-08-28 14:33] izziiyt commented on #80
@yuki-kaze

まず最初にお願いなのですが、今後は同じような事象に困っている非日本語話者のユーザーのためにも英語で投稿していただけると助かります！
https://github.com/WorksApplications/SudachiPy#contact に記載されているslackでは基本的に日本語で議論がなされているのでカジュアルに日本語で聞きたいときはこちらをご利用ください。

以下英語でお答えします。

 In my environment, the bellow command properly works. Could you tell me what this command dumped ?
[code]

I think installing SudachiPy in virtual environment and run ubuild is one option

[2019-08-31 11:47] izziiyt opened #93 "optimize JoinKatakana plugin"
related #74

JoinKatakana Plugin is one of the most time consuming but simple (input & output are clear) plugin.

OK: cythonize
OK: change implementation

[2019-08-31 11:48] izziiyt opened #94 "optimize JoinNumericPlugin"
related #74

Join Numeric Plugin is one of the most time consuming but simple (input & output are clear) plugin.

OK: cythonize
OK: change implementation

[2019-08-31 12:23] #82 closed, assigned to nobody

[2019-09-04 02:48] KHiyowa opened #95 "UnicodeDecodeError"
SudachiPy Command Line Ver on Cygwin Terminal.

Type: 貴社の記者が汽車で帰社する [Enter]

[code]

Type: 貴社の記者が汽車で帰社する [Back Space] [Enter]

[code]

Sudachipy: 0.3.13 / Dict: 20190718_core

[2019-09-05 02:42] sig-miyamoto opened #96 "AttributeError: EOS is not connected to BOS"
阿Qu
With SudachiPy v0.3.13 + Python 3.6.5 + MacOS 10.14.6, above text causes 'AttributeError: EOS is not connected to BOS'.
(SudachiPy v0.3.12 works correctly.)

[2019-09-05 15:59] izziiyt commented on #8
follow Google Style
https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

[2019-09-07 05:45] #80 closed, assigned to nobody

[2019-09-07 05:46] izziiyt commented on #67
#97

[2019-09-07 05:47] #67 closed, assigned to nobody

[2019-09-10 07:19] araiman opened #99 ""BufferError" happens when calling create method of dictionary object"
Dear maintainers.

On creating the dictionary object, the following error has happened.
This error got in version 0.4.0 but it doesn't happen in 0.3.8.
Would you mind to check is this error?

Code
[code]

Error
[code]

Environment
[code]

[2019-09-10 13:21] izziiyt commented on #99
I'm very glad to get FB about latest SudachiPy.  I can't figure out the reason from just a glance. Please use v0.3.13 before this problem will have been resolved. I'll ask you something about this issue later probably. Thanks.

[2019-09-12 12:18] araiman commented on #99
Thanks for your reply. I'll use v0.3.13 before for a while. Please feel free to ask me. Thanks.

[2019-09-13 11:04] BLKSerene opened #100 "Is it possible to import and use sudachipy's full dictionary directly?"
Since I need to package and distribute my program which includes SudachiPy to my users, the symlink would not be very reliable if I want to use the full version of SudachiPy's dictionary. So is there any way to import and use sudachipy's dictionary directly instead of run the linking command before that (the linking command would fail if the user do not have admin privileges), just like spaCy:

[c

[2019-09-26 04:01] natsuume opened #101 "Slack invitation link is expired."
WorksApplications/Sudachi#112

[2019-09-26 05:40] izziiyt commented on #101
@kazuma-t Who knows latest invitation link ? I think workspace owner can re-generate.

[2019-09-26 07:04] kazuma-t commented on #101
I heard this link won't expire...
Anyway I'll re-generate a link.

[2019-09-26 07:09] #101 closed, assigned to nobody

[2019-10-24 14:36] MastafaF commented on #70
Hi, for non-Japanese speakers, split modes are a bit confusing. Could you elaborate on **what they correspond to**? :)
Also, how can we get an output similar to mecab one from command line (**mecab -O wakati input_file -o output_file** returns a file with tokenized strings)?
I want to get rid of NER, etc from the output file obtained from **sudachipy tokenize input_file -o output_file**

Thank you

[2019-10-25 12:33] sorami commented on #70
@MastafaF

The split modes are invented and defined by us, and there isn't really anything that each mode corresponds to, but in our paper, "[Sudachi: a Japanese Tokenizer for Business](http://www.lrec-conf.org/proceedings/lrec2018/summaries/8884.html)" (Takaoka et al., LREC2018), we state that

- A Unit (short): Compatible with UniDic
- B Unit (middle): Similar to the “words” in general sense
- C

[2019-10-25 12:50] sorami commented on #70
@MastafaF

Getting only the tokenized words without Part of Speech tags; Use SudachiPy as a Python library and call `surface()` method.

e.g.,

[code]

[2019-10-25 12:51] sorami commented on #70
@MastafaF

Also, your questions are not related to this issue #70; it would be nice if you could create a new issue for the questions next time. Thanks!

[2019-10-27 12:06] izziiyt commented on #100
Now it's impossible to relate self-downladed dictionary to program.

We haven't considered this problem.  This should be solved.

Could you tell me why it's not very reliable for using `full version of SudachiPy's dictionary` ?

[2019-10-27 12:39] izziiyt commented on #73
@sorami

[2019-10-27 14:04] BLKSerene commented on #100
I'm trying to use `SudachiPy` in my project which will be packaged into an executable program using `PyInstaller` and then distributed to my users. The symlink works with no problem on my own computer which I use to develop my program, but when the program and all dependencies are frozen into executables, the symlink might stop working. (Though I haven't tested it yet.)

[2019-11-10 05:45] polm commented on #73
Any progress on this? I think all you need to do is open an issue [here](https://github.com/pypa/packaging-problems/) and explain why the package is going to be large.

[2019-11-12 10:34] sorami commented on #73
Hi, thanks for the reminder. Let me have a look and take action in the next few days.

[2019-11-15 10:58] sorami commented on #73
Okay, so I will confirm with the team about the dictionary file and then open an issue on Pypa repo early next week.

[2019-11-20 07:08] sorami commented on #73
I've added the following 3 dictionary packages on PyPI;

1. `small` (40MB): https://pypi.org/project/SudachiDict-small/20191030/
2. `core` (70MB): https://pypi.org/project/SudachiDict-core/0.0.0/
3. `full` (150MB): https://pypi.org/project/SudachiDict-full/0.0.0/

The PyPI size limit is 60MB; For `small` I have uploaded the dictionary resource already, and for `core` and `full` I have created the

[2019-11-25 09:37] sorami opened #103 "No reading form for certain words"
[code]

It should show the `surface` when the `reading_form` does not exist in the lexicon.

e.g., In the original Java implementation - `dictionary/WordInfoList.java`;

[code]

Thanks sig_m on the slack channel for reporting this!

[2019-11-25 17:12] #103 closed, assigned to sorami

[2019-11-26 11:13] sorami opened #105 "OOV flag is not properly set"
Everything becomes OOV;

[code]

[code]

[2019-11-26 11:21] #105 closed, assigned to sorami

[2019-11-28 15:04] chezou opened #107 "SudachiPy doesn't work with Windows with "OSError: symbolic link privilege not held""
SudachiPy doesn't work with Windows since Windows requires administrator privilege for creating symlink. It'd be nice if we could avoid using symlink for dictionary setting.

[code]

[2019-11-29 04:49] sorami commented on #107
Thank you for the report!

We will think about how we should manage the dictionary; one idea we have is to use a config file instead of symlink.

[2019-11-29 05:15] chezou commented on #107
Good to know. If you need a test for Windows, I'd be happy to help you!

[2019-12-03 09:53] sorami commented on #96
Hi, thank you for reporting!

Is it really working with `v0.3.12`? Do you have a command and the resulting output for that?

This is a known issue in the original Java Sudachi as well; https://github.com/WorksApplications/Sudachi/issues/45

We understand what is going on in this case, however, we currently do not have a smart idea to solve it without compromising the speed.

Currently, the Java ve

[2019-12-04 06:37] sig-miyamoto commented on #96
Thank you for your response.
I think to write a try .. except block is a good solution!

But for your information, v0.3.12 works like ...
[code]

[2019-12-04 09:09] izziiyt commented on #96
I know 0.3.12 works.
This bug emerged because I solved another bug #82

[2019-12-04 11:45] sorami commented on #96
The problem is finally resolved in the Java version; [Release Sudachi version 0.3.1 · WorksApplications/Sudachi](https://github.com/WorksApplications/Sudachi/releases/tag/v0.3.1)

I am trying to do the same for SudachiPy; #109

[2019-12-06 07:09] sorami commented on #96
Finally fixed! Released as `v0.4.2`;
[Release v0.4.2: Bug fix · WorksApplications/SudachiPy](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.2)

Please update SudachiPy as follows;

[code]

Now you should be able to process without the error;

[code]

[2019-12-06 07:09] #96 closed, assigned to nobody

[2019-12-07 03:02] hiroshi-matsuda-rit commented on #73
@sorami Did you get some response from the PyPI? I'm going to release the new version of GiNZA in next two weeks. I'd like to make the GiNZA packages available via the PyPI if the SudachDict-core would be also coming from the PyPI.

[2019-12-07 03:48] sorami commented on #73
@hiroshi-matsuda
Unfortunately, I haven't heard anything from the PyPA team.

The same request made by someone else a day before us ( [PyPI package size limit for splice-beakerx · Issue #298 · pypa/packaging-problems](https://github.com/pypa/packaging-problems/issues/298) ) is in a same situation.

I've added a comment to the issue just now to ping them.

As soon as they change the size limit, our

[2019-12-11 12:04] chezou commented on #107
Eventually, I've found a way to create a symlink with user permission on Windows 10.

As of Python 3.8, `os.symlink()` supports to create a symlink with unprivileged account if Developer Mode enabled.
See also the note of: https://docs.python.org/3/library/os.html#os.symlink

Here is the result of the example with Python 3.8 on Windows 10.

[code]

[2019-12-11 14:48] izziiyt commented on #107
@chezou Good workaround ! We'll resolve this problem for Windows OS and python3.5 but if someone wants to use SudachiPy **just now**, follow this way. Thanks @chezou .

[2019-12-13 08:30] #99 closed, assigned to izziiyt

[2019-12-20 05:41] polm commented on #74
Hey, what's the status of this project? If I could help with Cythonizing SudachiPy I'd be glad to do so.

[2019-12-22 14:03] izziiyt commented on #74
@polm I'm welcome your contribution 👍  I don't have enough time until Feb due to my own business work/private. So I think your contribution won't conflict with ours.

@sorami We should write contribution guidelines or coding guidelines to share our coding principal for PR including some amout of line changes like @polm may create. I want to discuss  with you directly, I'll reach you via slack !

[2019-12-23 06:44] polm commented on #74
Thanks, good to know! Not sure I'll get started on this before the new year but I'll definitely have time in January.

[2019-12-24 13:27] fullflu opened #112 "How can we detect unknown words?"
## Overview
I want to extract unknown words after tokenization.
When using MeCab, unknown words can be detected by checking the value of `feature` (If `feature[4] == '*'`, then the word is unknown).

I have a hypothesis that we could detect unknown words by using SudachiPy as follows:

Let `m` be a morpheme. Then,
1. `m.dictionary_id()` is `-1` if `m` is unknown, else `0`.
2. `m.word_id()` is `0`

[2019-12-25 03:13] sorami commented on #112
Hi, thank you for the inquiry! Let me explain (sorry, we should have had documentation about this);

## `is_oov()` method to check unknown word

Actually, there is a `morpheme.is_oov()` method to check if a word is OOV (out-of-vocabulary) or not!

[code]

## Command line `-a` option

When you use SudachiPy as a command line tool, there is a `-a` option that outputs extra information such as dictio

[2019-12-25 05:04] fullflu commented on #112
Thank you for your quick response!
I understand the implementation related to my hypothesis.

In my version of sudachipy, `morpheme.is_oov()` method does not return any boolean value.

[code]

However, I confirmed that this bug was fixed in the version 0.4.2.
Therefore, I'm going to use `is_oov()` method. Thank you!

[2019-12-25 05:38] fullflu commented on #112
By the way, is there any method to detect unknown words without tokenization?
Just like this: `is_oov('ラッスンゴレライ')` returns `True` and `is_oov('説明')` returns `False`

[2019-12-25 05:55] sorami commented on #112
Oh yeah, I just remembered that there was a bug and it was fixed in `v0.4.1`; [Release Bug fix · WorksApplications/SudachiPy](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.1) (#106).

[2019-12-25 06:13] sorami commented on #112
Umm, there is no such method to do WITHOUT tokenization.

***

You can do something like this if you are okay with doing the tokenization.

[code]

[code]

***

You can look up the dictionary by yourself, to see if a word exists in the dictionary or not. However, the result probably will not be useful if you do not use it without tokenization.

For example, you can do something like this;

[code]

[2019-12-25 07:14] sorami commented on #112
Okay, there's an `exact_match_search` method in the Double Array Trie implementation we use ([rixwew/darts-clone-python](https://github.com/rixwew/darts-clone-python)) for the lexicon (dictionary).

If you really want to check if a particular word is in the dictionary or not, you can do something like this;

[code]

The exact_match_search method will return `(-1, 0)` (word ID = -1, length = 0) if

[2019-12-25 08:41] fullflu commented on #112
Awesome!! The method would also be helpful to me.
I would be happy if you could add the description of detecting unknown words to the document in the future.

Thank you!

[2020-01-04 07:27] polm commented on #73
Just poking this issue. It looks like the correct place to make a request for a size increase is actually [pypi-support](https://github.com/pypa/pypi-support), not the place linked to before. The 298 issue linked here was migrated by the admin there but for some reason the SudachiPy one wasn't, so I guess you need to open a new issue.

[2020-01-06 07:31] sorami commented on #73
Thank you very much for the information, @polm !!

I have opened an issue there; https://github.com/pypa/pypi-support/issues/131

[2020-01-06 15:05] sorami commented on #73
[Limit Request: sudachidict-{core,full} - {75, 160MB} · Issue #131 · pypa/pypi-support](https://github.com/pypa/pypi-support/issues/131)

Okay, so we can't distribute the dictionaries on PyPI. Let me consider the alternative approaches  Jason introduced to us in the above issue.

[2020-01-09 02:39] knok opened #113 "Can I pickle WordInfoList?"
I'm trying to use spaCy/GiNZA with pickle.
Now dartsclone supports pickle, but still problem is there.
In my case, sudachipy.dictionarylib.wordinfolist.WordInfoList object has mmap.mmap object and it didn't support pickle.
Is there a way to prevent it?

[2020-01-10 11:29] sorami commented on #113
Hello @knok !

Could you show me your code for the pickle serialization, and the corresponding error about the mmap?

The current SudachiPy code uses mmap when loading the binary dictionary (e.g., `dictionarylib.BinaryDictionary`), and we do not have an alternative way to load dictionaries without mmap at the moment. It may take some time to change the structure to allow such cases.

@izziiyt , do

[2020-01-13 14:51] izziiyt commented on #113
@sorami

I want too.

@knok
Could you share us the error message and some references from which you know mmap.mmap isn't supported by pickle ?

[2020-01-13 15:13] izziiyt commented on #113
My guess is that "mmap.mmap isn't supported by pickle" is wrong and "file object in memory using mmap.mmap isn't supported" is correct. If so, we have 2 options (either or both)

1.  mmap.mmap disable option
2.  dicrionary less tokenizer instance available and possible to set dictionary in use (after decode pickle)

Applying 1st approach, users like @knok can make fat pickle including model & dict

[2020-01-13 23:13] knok commented on #113
Thank you for your response. The reproduce code is the following:
[code]
It causes the following exception:
[code]

[2020-01-17 08:48] #112 closed, assigned to nobody

[2020-01-17 10:06] sorami commented on #113
Thank you for sharing the code and the error, @knok . I can reproduce the error on my side.

***

I was briefly looking at the spaCy document.

It seems more appropriate to spaCy's `Doc.to_bytes` and `Doc.from_bytes` methods for serialization; [Doc · spaCy API Documentation](https://spacy.io/api/doc#to_bytes)

Trying the `to_bytes` methods on a GiNZA doc, I get the following error;
[code]

[code]

[2020-01-18 08:44] hiroshi-matsuda-rit commented on #113
@sorami I'd like to try to solve the serialization error of class objects of GiNZA.

[2020-01-19 06:29] hiroshi-matsuda-rit commented on #113
@knok @sorami @izziiyt I'd like to avoid serialization errors by skipping to set Morpheme instances to `token._.sudachi` until setting `nlp.tokenizer.set_enable_ex_sudachi(True)`.
Please see the description in my feature branch below.
https://github.com/megagonlabs/ginza/tree/feature/enable_ex_sudachi#ginza-311

[2020-01-19 11:54] hiroshi-matsuda-rit commented on #113
I just released GiNZA v3.1.1 with above refinement.
Thank so much!

[2020-01-20 05:31] sorami commented on #113
@hiroshi-matsuda
Awesome, thank you for the GiNZA update!

I confirmed that the serialization for both the sample code @knok provided, and the sample code on the GiNZA readme works without a problem.

[code]

[code]

[code]

[2020-01-20 05:32] sorami commented on #113
I believe the issue @knok raised initially, which is to use spaCy/GiNZA with pickle, is resolved now thanks to @hiroshi-matsuda-rit .

I close this issue.

[2020-01-20 05:32] #113 closed, assigned to nobody

[2020-02-25 15:35] hiroshi-matsuda-rit opened #115 "Release v0.4.3"
@sorami Could you please release recent develop branch as `v0.4.3` and deploy it to `pypi.org`?

[2020-02-26 05:03] sorami commented on #115
Got it, let me handle that later today.

[2020-02-26 07:25] sorami commented on #115
Done :tada:

- [Release v0.4.3 · WorksApplications/SudachiPy](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.3)
- [SudachiPy · PyPI](https://pypi.org/project/SudachiPy/0.4.3/)

[2020-02-26 07:25] #115 closed, assigned to nobody

[2020-02-26 12:21] hiroshi-matsuda-rit commented on #115
Thank you so much! @sorami

[2020-04-02 08:07] maharada2 opened #116 "Even if registered in the user dictionary, 「MI6」 is divided."
I want to get the result of "MI6".
But, in the default state, it is divided into "MI6" = "MI" + "6".

So, I registered "MI6" in the user dictionary.And the cost was set to "-32767".
However, the result is "MI6" = "MI" + "6".
(config is this... “MI6,0,0,-32767,MI6,名詞,普通名詞,一般,*,*,*,MI6,MI6,*,*,*,*,*” )

Other words in the user dictionary are working,
So I think the user dictionary settings are corre

[2020-04-03 08:12] sorami commented on #116
@maharada2

Hi!

It is possible to get such results, even when an entry is correctly registered. It depends on the actual morphological analysis situation.

Could you share with us the analysis **debug information**, so we can have a better idea of what's going on?

Use SudachiPy's `-d` option to dump the debug information (It prints out the lattice dump and the rewrite information).

[2020-04-03 13:30] maharada2 commented on #116
Thank you for the advice.

I got debug information.
[code]

"MI6" registered in the user dictionary is not used.
I felt the need for "mi6" somehow, and when I registered "mi6" in the user dictionary, it was recognized well.

Dump for "mi6"
[code]

I can confirm that the registered data has been used.
However, I do not know why "MI6" is not used and "mi6" is used.

Please tell me how to read dump a

[2020-04-10 08:24] sorami commented on #116
@maharada2

Hi, thank you for the dump information and sorry for the late reply.

This is caused by Sudachi's "**Character Normalization**" process.

In short, you need to write a word in a way that is compatible with the string AFTER the character normalization.

Please refer to the relevant section in the document ([in English](https://github.com/WorksApplications/Sudachi#character-normalization

[2020-04-14 02:20] maharada2 commented on #116
Sorry for the late reply.

I understood the cause.
And I can do what I want to do now!
Thank you.

I also appreciate the correction of the documentation.
My questions were answered.

[2020-04-14 02:30] sorami commented on #116
Glad to hear that. Enjoy!

[2020-04-14 02:30] #116 closed, assigned to nobody

[2020-04-24 14:09] polm opened #118 "How do I run the tests?"
Before submitting a PR I tried running the tests, but I cannot run the tests even with the current HEAD.

First I get an error that sys.dic can't be found. If I make a symlink to the sys.dic from the core dict then that goes away, but I get errors about user.dic not being found as well as other errors. I also get errors on stderr like this:

[code]

Is there something I can do to fix this?

[2020-04-24 14:12] polm commented on #74
Hello, I ended up not having time for this in January - sorry it took so long, but I'm looking at it now.

[2020-04-25 13:49] polm commented on #74
Worked on this some more today, it's in the `cython` branch in my fork. Based on my benchmark processing time went from roughly 50s to 12s. (This is faster than I reported in my latest PR because that was using cProfile, which slowed things down.)

[2020-04-27 01:57] sorami commented on #74
@polm , thank you, that sounds awesome!!

I probably won't have time for today and tomorrow, but let me check and merge in the next few days.

[2020-04-30 05:16] sorami commented on #118
How did you run the tests?

Did you try `./scripts/test.sh`, which copies the test dictionary files from `.travis/`?

c.f. [SudachiPy/README.md at develop · WorksApplications/SudachiPy](https://github.com/WorksApplications/SudachiPy/blob/develop/README.md#test)

[2020-04-30 06:33] polm commented on #118
Ah, I completely missed that section of the README, sorry :sweat_smile:

Running the script I was able to run the tests correctly, thank you.

[2020-04-30 06:33] #118 closed, assigned to nobody

[2020-04-30 06:34] sorami commented on #118
Great!

[2020-05-12 11:28] sorami commented on #73
I've (finally) set up the Python packages for the dictionaries; Now you can install them via PyPI.

[code]

The dictionary binary files are not in the packages, but they are downloaded upon installation.

* [SudachiDict-small · PyPI](https://pypi.org/project/SudachiDict-small/)
* [SudachiDict-core · PyPI](https://pypi.org/project/SudachiDict-core/)
* [SudachiDict-full · PyPI](https://pypi.org/proj

[2020-05-12 11:28] #73 closed, assigned to nobody

[2020-05-28 07:57] polm opened #120 "Tokenizing Ellipsis creates empty tokens"
While working on the spaCy Japanese model support and integrating Sudachi, ran into the issue that the one-character ellipsis (`…`) was causing errors. If you tokenize this ellipsis you get three tokens from SudachiPy, with surfaces like `['', '', '…']`.

I assume this is a bug but wasn't able to track down where it's happening. I also checked ㍻, and while that is also normalized internally it see

[2020-05-28 09:08] sorami commented on #120
@polm Thank you for the report.

We believe this can be fixed in the same way as this Java Sudachi PR https://github.com/WorksApplications/Sudachi/pull/118 .

Let us look into it.

[2020-05-29 01:26] sorami commented on #47
Up-to-date dictionaries now managed as Python packages. #119

[2020-05-29 01:26] #47 closed, assigned to nobody

[2020-05-29 01:26] #10 closed, assigned to nobody

[2020-05-29 01:44] sorami commented on #120
Currently, the one-character ellipsis `…` is analyzed as follows;

[code]

By applying the fix already applied to the Java Sudachi
 https://github.com/WorksApplications/Sudachi/pull/118 , this will be changed to

[code]

**And the empty (zero-length) morphemes will still be there**. This is not a bug, but by specification, the expected behavior of Sudachi.

The original input only has one characte

[2020-05-29 04:00] polm commented on #120
Huh, OK. I applied the fix and got the output above and assumed I had done something wrong.

Where can I see the specification?

I'm curious what the motivation for generating zero-length morphemes is.

[2020-05-29 04:12] sorami commented on #120
Actually, there is no written specification, as far as I know ... The above is according to the main developer @kazuma-t , and I meant something like "that was what Sudachi was intended to do".

This is because the number of tokens after normalization is bigger than the original ones. `…` is normalized to three morphemes `.` / `.` / `.` and there simply aren't enough tokens to align with. It is no

[2020-05-29 04:17] polm commented on #120
Ah OK then, good to know.

Couldn't you just treat `...` as a single morpheme? It's already an entry in `small_lex.csv`...

[2020-06-01 10:30] sorami commented on #120
Right, it is in the lexicon, so the above result is that the analysis result happened to be that way, due to their scores.

We could treat this particular `…` case in a single morpheme way, but in general, that "zero-length morpheme" case can happen.

We let the users configure the character normalization, so it is possible to have cases where the output morphemes are longer than the input.

For e

[2020-06-11 09:00] sorami opened #125 "Wheels for multiple platforms"
Travis CI currently fails to deploy to PyPI, as it gives the wheel platform tag `linux_x86_64` which is not accepted by them.

e.g., https://github.com/WorksApplications/SudachiPy/runs/757515277

[Platform compatibility tags — Python Packaging User Guide](https://packaging.python.org/specifications/platform-compatibility-tags/)

We would also want macOS and Windows wheels too. In the end I am thin

[2020-06-11 09:00] sorami commented on #12
#125 takes over.

[2020-06-11 09:00] #12 closed, assigned to nobody

[2020-06-11 09:04] sorami commented on #125
Maybe [Using Python with GitHub Actions - GitHub Help](https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions).

[2020-06-11 09:27] polm commented on #125
Ah, sorry about that.

I've built cross-platform wheels in other projects. mecab-python3 uses Travis, fugashi uses Github Actions, and I found Github Actions easier to work with. Maybe the [fugashi actions](https://github.com/polm/fugashi/tree/master/.github/workflows) would be a good reference? Building wheels for Sudachi is probably easier since you don't have to build MeCab first.

[2020-06-11 11:11] sorami commented on #125
@polm Thanks for the information! It seems that GitHub Actions is a good option.

[2020-06-13 15:52] himkt opened #126 "`BufferError` when it tries to create tokenizer multiple times."
### Summary

Hello, thank you for maintaining the amazing text processing toolkit SudachiPy!

I found an error occurs when it tries to create `tokenizer` twice.
I'm not sure what is the route cause but it doesnt' happen 28 days and does today.
I suspect it related to some changes introduced in `v0.4.6`, as it doesn't reproduce in `v0.4.5`.

### Reproduction

- Python

[code]

- Docker

[code]

[2020-06-13 16:00] polm commented on #126
Thanks for the bug report! This is definitely related to the Cythonization, sorry about that. I'll take a look at fixing it.

[2020-06-15 00:59] sorami commented on #126
@himkt
I have released [v0.4.7](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.7) which includes the fix by @polm.

Please have a try with this version.

[2020-06-15 01:14] himkt commented on #126
Thank you for the really quick response. @sorami @polm
I confirmed that it works fine.

[code]

[2020-06-15 01:18] sorami commented on #126
Great to hear that it works! All credit goes to @polm .

[2020-06-15 01:18] #126 closed, assigned to nobody

[2020-06-17 14:05] adrianeboyd opened #128 "`Lattice.dump` error: 'sudachipy.latticenode.LatticeNode' object has no attribute 'is_defined'"
When logging is enabled, I noticed a bug in `Lattice.dump`, which might be related to the recent cython-related modifications? The error looks like this, calling `sudachipy` from `spacy`:

[code]

[2020-06-17 19:51] hiroshi-matsuda-rit opened #129 "spaCy model accuracy significantly degraded from SudachiPy v0.4.6"
@sorami @polm Could you research the reason of this difference between v0.4.5 and v0.4.6?
[code]

[2020-06-17 21:06] hiroshi-matsuda-rit commented on #129
This problem was reproduced on Mac OS 10.14.6, Windows10 update 1909, and WSL with python 3.8.

[2020-06-18 00:24] sorami commented on #129
For [v0.4.6](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.6) and [v0.4.7](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.7) the major updates were only about Cythonization, so it the problem is within SudachiPy, I guess it is something to do with Cython.

Let us have a look.

[2020-06-18 00:28] sorami commented on #128
@adrianeboyd Thank you for the notice, let me have a look.

[2020-06-18 00:51] sorami commented on #128
I confirmed that bug does not happen with v0.4.5 which is pre-Cython.

[2020-06-18 01:54] polm commented on #129
Thanks for the report. I found the cause of this, I screwed up in the Cythonization and connect costs were wrong. Just opened a PR with a fix.

[2020-06-18 02:11] hiroshi-matsuda-rit commented on #129
I strongly recommend to add the spaCy evaluation step to CI tests.
With spacy CLI and [UD_Japanese-GSD v2.6-NE](https://github.com/megagonlabs/UD_Japanese-GSD/releases/tag/v2.6-NE), you can do evaluations like as:
[code]
The decline of TOK measure should be within 0.1%.

[2020-06-18 03:35] sorami opened #132 "Add the spaCy evaluation step to CI tests"
https://github.com/WorksApplications/SudachiPy/issues/129#issuecomment-645726195

[2020-06-18 04:06] #129 closed, assigned to nobody

[2020-06-18 04:09] #128 closed, assigned to sorami

[2020-06-18 04:27] sorami commented on #128
The fix released in [v0.4.8](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.8)

[2020-06-18 04:35] sorami commented on #129
@hiroshi-matsuda-rit

I've merged @polm's fix and released [v0.4.8](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.8).

Sorry for the degradation, yeah we should include the spaCy evaluation step in the CI #132 (or at least test with some paragraphs)

## v0.4.7

[code]

## v0.4.8

[code]

[2020-06-18 05:30] hiroshi-matsuda-rit commented on #129
I just tested v0.4.8 and got the same result. Thank you for quick response!

[2020-06-18 08:53] adrianeboyd commented on #128
Thanks for the quick fix!

[2020-06-18 14:32] hiroshi-matsuda-rit opened #133 "AttributeError: 'sudachipy.latticenode.LatticeNode' object has no attribute 'begin'"
This error might be related to the cythonization. @polm @sorami
Do you have the test cases for this API?
[code]

[2020-06-18 23:36] sorami commented on #133
I had similar cases while investigating #128.

Sorry, no, there were no test cases for this method.

I think the error is because, with Cythonization, you don't have direct access to attributes, i.e., it should be `n.set_begin()` instead (this method already exists).

There may be more such cases, which the current test cases didn't catch.

[2020-06-19 00:04] sorami commented on #133
[code]

[2020-06-19 00:43] sorami commented on #133
I have fixed the case, and added a test for this method in #134.

I am now looking at other parts of code that the Cythonization may affect (i.e., related to Lattice and LatticeNode) which we missed due to lack of test.

[2020-06-19 01:24] sorami commented on #133
Memo about splitting in A or B mode;

When using `Tokenizer` to split text, the splitting from C mode to A/B mode is done by the method `Tokenizer._split_path()`.

However, there are separate methods `Morpheme.split()` and `MorphemeList.split()` which is independent from the above Tokenizer method.

And there were no test cases for the latter, therefore this issue was not discovered until now.

[2020-06-19 05:13] polm commented on #133
Sorry I missed this issue too... I thought I check the Cythonized attributes during development but obviously I missed some. I'll take a look and see what else I missed.

[2020-06-19 06:15] #133 closed, assigned to sorami

[2020-06-19 06:33] sorami commented on #133
I have released yet another version [v0.4.9](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.4.9) to fix this issue.

[2020-06-19 06:39] sorami commented on #125
Currently, able to build wheels for macOS and Windows using Github Actions.

Actions:

- `python-publish.yml`: sdist
- `python-publish-macos.yml`: masos-latest
- `python-publish-windows.yml`: windows-latest, architecture={x64, x86}

For macOS and Windows cases, Python 3.6, 3.7, and 3.8 wheels are created.

[Files on PyPI (v0.4.9)](https://pypi.org/project/SudachiPy/0.4.9/#files)

Linux wheels are

[2020-06-19 08:37] hiroshi-matsuda-rit commented on #133
Thank you so mcuh! @sorami and @polm

[2020-07-09 13:56] polm opened #136 "Strange behavior when indexing into MorphemeList"
Sample code:

    from sudachipy import dictionary
    tok = dictionary.Dictionary().create()
    sent = tok.tokenize("コトノハ")
    # this does not cause an error
    word = sent[1000]
    # this causes an error because the word does not exist
    word.surface()

This wouldn't come up in normal usage but it seems really weird. I guess in `__getitem__` there should be a check against the length of `p

[2020-07-17 07:55] sorami commented on #136
@polm Thanks!

According to @kazuma-t , for the Java version he intentionally did not check the index range to make it slightly faster.

For the Python version I believe we should check the range (it is pretty slow already anyway ... haha). Fix and test in #137

[2020-07-17 09:00] #136 closed, assigned to sorami

[2020-08-03 08:37] cmpmohan opened #138 "ModuleNotFoundError: No module named 'sudachidict'"
We are facing below error in docker container however sudachidict_core library already installed. please help me to fix issue

=====================================================================
ModuleNotFoundError: No module named 'sudachidict'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/

[2020-08-03 08:55] sorami commented on #138
Hi,

Maybe running the following command
[code]
will reslove the issue.

Currently SudachiPy creates a sym link  `sudachidict` that links to the actual installed dictionary package (e.g., `sudachidict_core`) ([also read here](https://github.com/WorksApplications/SudachiPy#dictionary-edition)).

For example, if your `sudachipy` package is installed under `foo/bar/lib/python3.8/site-packages/`, than

[2020-09-01 02:49] sorami opened #142 "Inconsistency on dictionary_form and reading_form fields while analyzing the contexts including specific symbol chars after white space"
https://github.com/explosion/spaCy/issues/5961#issuecomment-679967076

[2020-09-02 06:26] mark-brackenrig commented on #138
I am getting a similar error when trying to deploy a spacy model to elastic beanstalk flask app.
[code]

[2020-09-17 10:33] JSB97 opened #143 "Problem with user defined dictionary"
I am making use of sudachipy via ginza, and am trying to annotate the following sentences.

[code]

And in my dictionary I have the following lines, which match `明治` and `楽天` in the above.
There are no other lines in the dictionary that match any substrings in the sentence.

[code]

When I try and run annotations with this configuration, i get the below error:

[code]

Could someone advise me as t

[2020-09-17 10:45] JSB97 opened #144 "Cannot specify sudachi.json with the -r option."
I am trying to run sudachipy from the command line with a user dictionary, using [these instructions](https://github.com/WorksApplications/SudachiPy#user-dictionary).

When i try to run the below, the command seems to just hang and nothing happens:
[code]

If instead I placed the sudachi.json file in my local directory which is possible from what the documentation says ('anywhere you like'), i get

[2020-09-18 04:13] sorami commented on #144
Hi!

## "command seems to just hang and nothing happens"

I believe that sudachipy is working properly, and it is waiting for input text. You can start typing something and see how it goes; (The second line `高輪ゲートウェイ駅` is the user input)

[code]

Alternatively, you can pass text with the pipe;

[code]

## The setting file (`sudachi.json`) and the character definition file (`char.def`)

We need the

[2020-09-18 06:17] JSB97 commented on #144
How embarassing...
Thank you for pointing out how to use it from the terminal.
助かりました:bow:

[2020-09-18 06:17] #144 closed, assigned to nobody

[2020-09-18 10:04] sorami commented on #143
（ちなみに問い合わせは日本語でも問題ないです！）

Could you tell us how you built the user dictionary, and the piece of code which you got that error?

I cannot reproduce your error case; Ideally, we would want a minimal case that causes the error.

Here is a procedure I tried, which DID work without any errors;

[code]

[code]

[2020-10-05 08:59] lash-1997 opened #145 "ImportError: DLL load failed"
すみません。
[from sudachipy import tokenizer]の時、失敗した。
そして、sudachipy中の「.pyd」全部importできないことが発見した。
system：win10
python:3.7.6
SudachiPy :0.4.9

[2020-10-05 10:11] sorami commented on #145
こんにちは！

おそらく、Cythonのビルドに関する問題だと思います。

我々の[Slack Workspaceで報告されている事象](https://sudachi-dev.slack.com/archives/C9SUQFK38/p1583236251007200) （閲覧には[Slackへの参加](https://github.com/WorksApplications/SudachiPy#contact)が必要です）と同様のものと思われます。

上記のケースでは、以下の手順で直ったそうです;

まずは、C++ Build Toolsをインストールして、`SudachiPy` と `dartsclone` （依存しているライブラリ、こちらもCython利用）を再度pip installすれば、直るかもしれません。

また、さらなる調査が必要な場合は、「失敗した」時のエラーメッセージ

[2020-10-05 11:14] lash-1997 commented on #145
お返事ありがとうございます。
同じsystemとpythonのパソコン中には、sudachipy中の「.pyd」全部importできます。
たぶん、Cythonに関する。
私はやってみます。

[2020-10-21 09:04] chikurin66 opened #146 "Error when trying to import sudachipy with Google Colab"
I got error when trying to import sudachipy on Google Colab.

Type;
[code]
Then I got following error message;
[code]

I tried again with version 2.1.0 of sortedcontainers and got the same result.
Here are the results of entering `pip list` .
[code]

On the other hand, this method seems to work.
[code]

[2020-10-30 07:15] chikurin66 commented on #146
Resolved.

Reason; the new version does not seem to be recognized until the runtime is restarted

Procedure;

1. open Google Colab and install sortedcontainers, sudachipy, and sudachidict_core
[code]
2. restart the runtime
3. Then I can import tokenizer!!
[code]

[2020-10-30 07:15] #146 closed, assigned to nobody

[2020-12-03 10:10] alexcombessie opened #148 "SudachiPy doesn't work in secure environments where users cannot create symlinks on code-envs"
Hi,

Thanks for the interesting work!

I need to package sudachipy in secure Linux servers where code-envs are isolated from runtime. Thus, someone running the code cannot run the symlink operation require to point to the dictionary.

To be precise, we get the error:
`[Errno 13] Permission denied: '/data/dss-home/dss_design_8/code-envs/python/plugin_nlp-preparation_managed/lib/python3.6/site-packa

[2020-12-03 12:38] sorami commented on #148
Hi!

I occassionally hear about the problems with the current dictionary linking mechanism using symlinks, however the Sudachi team hasn't figured out the alternatives yet.

There is a pretty old pull request to use config file `$XDG_CONFIG_PATH/sudachipy/config.json` (#108). I also heard a suggestion to use env variable, e.g., `SUDACHIDICT_PATH` ([on our Slack channel](https://sudachi-dev.slack.c

[2020-12-03 14:16] alexcombessie commented on #148
Thanks for the quick reply. Unfortunately, in my case I wouldn't be able to take advantage of `SUDACHIDICT_PATH` or `XDG_CONFIG_PATH` since I cannot control these in my secure environment. I need to have a correct behavior out-of-the-box right after `pip install sudachipy sudachidict_core` without symlink or variable setting operations.

In my scenario, since I only need the core dictionary, what

[2020-12-04 01:54] sorami commented on #148
I see.

The pip square bracket notation sounds like a reasonable option to consider.

[2020-12-04 03:07] t-yamamura commented on #148
Hi!

You can also specify the dictionary path by `sudachi.json`.
https://github.com/WorksApplications/SudachiPy#dictionary-in-the-setting-file

Would you try this ?

---

1. download the following directory
https://github.com/WorksApplications/SudachiPy/tree/develop/sudachipy/resources

[code]

2. open `sudachi.json` and specify `systemDict`

[code]

3. run sudachipy

* command line

[code]

* Pyt

[2020-12-04 07:32] alexcombessie commented on #148
Hi,

Embedding the dict may be an option, but it's far from ideal as it would introduce a manual dependency, increase the weight of my package and make upgrades a complex process.

I would rather have a pure `pip` option which does not require symlinks.

Cheers,

Alex

[2020-12-26 05:36] hiroshi-matsuda-rit opened #150 "sudachipy command line not working with -a option"
[code]
SudachiPy==0.5.0
SudachiDict-core==20201223.post1
Python 3.9.1
WSL2 Ubuntu 20.04

[2021-01-04 03:07] t-yamamura commented on #150
@hiroshi-matsuda-rit
Thank you for the report.

We have released a new version [v0.5.1](https://github.com/WorksApplications/SudachiPy/releases/tag/v0.5.1) to fix this issue.

[2021-01-04 03:07] #150 closed, assigned to nobody

[2021-01-13 13:32] alexcombessie commented on #148
Hi @sorami @t-yamamura,

Happy new year!

I am writing to know if you have any update on the topic. Specifically, I am referring to

Cheers,

Alex

[2021-01-14 00:45] t-yamamura commented on #148
Hi @alexcombessie,

Happy new year!

I would like to change the current dictionary linking mechanism using symlinks into other ways.
Currently, I am investigating the best way to link sudachidict, such as `pip` option.

[2021-01-14 09:45] alexcombessie commented on #148
Thanks!

[2021-02-01 15:21] alexcombessie commented on #148
Hi,

Any update on the subject?

Thanks,

Alex

[2021-02-18 22:31] curt-mitch commented on #148
Hi, I am also experiencing this issue would be interested in an update.

Thank you!

[2021-03-09 17:15] alexcombessie commented on #148
Hi,

Sorry for following up on the topic. Is there any chance this may be addressed this year?

As I mentioned, this issue is blocking any integration with sudachipy in my Python application, so no Japanese support 😞

I appreciate again the work you are doing here, and wish you well.

Alex

[2021-03-12 12:26] t-yamamura commented on #148
Hi,

I am planning to change the current dictionary linking mechanism.
It's because it might often cause a permission error.

I think required features for connecting SudachiPy with SudachiDict are as follows:

* Users can select a dictionary.
* SudachiPy should be linked to a dictionary last installed or updated.

Therefore, I'm going to use sudachi.json instead of symlink .
sudachi.json has the

[2021-03-26 09:05] #148 closed, assigned to nobody

[2021-06-21 08:41] po3rin opened #155 "数詞を含む分割情報を定義した単語があるとユーザー辞書をビルドできない"
sudachiのユーザー辞書に分割情報を入れようとしているのですが、数詞を含む分割情報をもつ単語でエラーが出ます。理由や対処法がわかれば教えていただきたいです。

## 詳細

例えば下記のようなユーザー辞書を作成したい場合

[code]

下記のようなエラーが出ます。(エラーがわかりづらかったので最近出したPR( https://github.com/WorksApplications/SudachiPy/pull/154 )が入ったもので出力しています。)
[code]

ここでエラーになる際には今までシステム辞書に含まれない単語だった場合に発生していたのですが、今回「1」はシステム辞書にはあるのでビルドに失敗している理由がわかりません。

[code]

この問題の対処法を教えていただけますと幸いです。よろしくお願いします。

[2021-06-21 14:42] sorami commented on #155
（私は今はSudachiの中の人ではないのですが、参考までです）

## 原因

**「見出しとしての `1` 」が「行番号1」に誤認**されている、ということなのかと思います。

公式ドキュメント: [Sudachi/user_dict.md at develop · WorksApplications/Sudachi](https://github.com/WorksApplications/Sudachi/blob/develop/docs/user_dict.md)

コード該当箇所↓
https://github.com/WorksApplications/SudachiPy/blob/develop/sudachipy/dictionarylib/dictionarybuilder.py#L327

[code]

@kazuma-t @t-yamamura
間違っていたらご指

[2021-06-21 15:15] sorami commented on #155
@kazuma-t @t-yamamura
こうすると、ちゃんとIDかを判定して適切にビルドできるんじゃないかと思います → #156

（当Issueの例で動作することは確認しましたが、他部分への影響等がよくわかっていません）

[2021-06-21 15:20] po3rin commented on #155
ありがとうございます。原因が理解できました。
#156 で動きそうなので一旦そちらの修正を前のめりで利用するか、頂いた対処法を利用するかを社内で検討します。

[2021-06-21 15:38] sorami commented on #155
ちなみに、数値始まり見出し以外にも `U2,名詞,固有名詞,人名,一般,*,*,ユーツー` とかでも落ちるなーと思いました。

（システム辞書には [U2](https://en.wikipedia.org/wiki/U2) は入ってなかったですけど）

[2021-06-22 01:40] kazuma-t commented on #155
ご指摘ありがとうございます。Java 版の方からきた不具合ですね。さきに Java 版の方をなおしてからこちらにも反映します。

[2021-06-24 03:05] yokomotod opened #157 "Slow building of user dictionary with surface form split info"
It seems take 30+ seconds per entry to build user dictionary, if its words have split info with word info (構成語情報).

[code]

user.csv:

[code]

If I have two lines then it takes 1m.

※ No problem with **word id** split info

[code]
[code]

----

[code]

[2021-06-27 23:40] ardakdemir opened #159 "Training Sudachi on new data"
If I understand correctly, Sudachi is a lattice-based tokenizer and uses the occurrence probabilities and left-right probabilities (costs) for finding the best token sequence.

We would like to know whether we could customize these cost values. I imagine that in a niche domain like biomedicine with many unknown bacteria/disease names, we need domain-specific values to have the best tokenizer.

[2021-06-28 01:38] kazuma-t commented on #155
よくよく見たら Java 版の方は対応済みでした。

[2021-06-28 06:31] katsutan commented on #159
Unfortunately, transition cost learning is not implemented in Sudachi.

Since SudachiDict is based on UniDic, you can use unidic-mecab to train costs and convert to Sudachi format yourself.
However, we do not recommend it because it is complicated.

[2021-06-28 06:49] sorami commented on #159
FYI, you can add words using a user dictionary, and there you can set arbitrary costs. This could be an easy ad-hoc method that may be helpful in some situation, without training the CRF using corpora.

To be more pricise, in user dict, you can set "occurance cost" and "left/right connection IDs". You cannot directly set the connection costs as they are defined seprately in the trained connection

[2021-06-30 07:32] #155 closed, assigned to nobody

[2021-07-05 09:28] #100 closed, assigned to nobody

[2021-07-15 07:19] katsutan opened #160 ""İ" does not behave the same as the Java version of Sudachi."
I have noticed that Sudachi Py and Sudachi behave differently because "İstanbul" is not recognized as a single token in SudachiPy, so I will report it.

[code]

Apparently, the character normalization process is passing different input to each sudachi.

[code]
It seems that "İ (U + 0130)" is converted to "i (U + 0069)-◌̇ (U + 0307)" in python and "i (U + 0069)" in java.
This may be due to the `low

[2021-08-16 06:36] #157 closed, assigned to nobody

[2021-09-03 16:30] tien-le opened #161 "sudachipy/lattice.pyx:35:12: Assignment to const attribute 'connect_costs'"
Hi,
After building the latest codes from git (branch "develop"), I have the following issue:

[code]

Can you show me how to tackle the above issue, please?
Thanks advance for your help.

[2021-09-03 16:47] tien-le commented on #161
Then, I updated our file "./sudachipy/lattice.pxd" (remove "const" in line "cdef const short[:,:] connect_costs") as follows
[code]

Then, building is okie as follows:
[code]

[2021-09-06 06:56] kazuma-t opened #162 "JoinKatakana plugin behaves differently from the Java version"
The JoinKatakana plugin always creates OOV nodes when concatenating nodes in concatenate_oov(). The Java version uses Lattice#getMinimumNode() to return the node with the lowest cost if there are nodes within the same range.

Sudachi (Java version)
[code]

SudachiPy
[code]

[2021-09-10 04:52] kazuma-t commented on #162
Fixed in #163

[2021-09-10 04:52] #162 closed, assigned to nobody

[2021-09-10 08:50] katsutan commented on #161
Thank you.
We don't have time right now, so we'll look into it later.

[2021-11-08 05:32] sukeya opened #167 "sudachipy/tokenizer.pyx: /dev/null is left opened."
Hi,
The following member variable of class Tokenizer seems not to be closed.
I think it should be closed in destructing or deleted (because it isn't used in this library).

https://github.com/WorksApplications/SudachiPy/blob/03d9ff8e7094859275984ee718e08c3fcefaeb6b/sudachipy/tokenizer.pyx#L112

[2021-11-11 06:30] eiennohito commented on #125
0.6.0 provides wheels

[2021-11-11 06:30] #125 closed, assigned to nobody

[2021-11-11 06:31] eiennohito commented on #107
0.6.0 does not use symlinks anymore

[2021-11-11 06:31] #107 closed, assigned to nobody

[2021-11-11 06:32] eiennohito commented on #74
0.6.0 is ~30x faster

[2021-11-11 06:32] #74 closed, assigned to nobody

[2021-11-11 06:32] eiennohito commented on #42
0.6.0 supports it

[2021-11-11 06:32] #42 closed, assigned to izziiyt

[2021-11-11 06:34] eiennohito commented on #145
@lash-1997 0.6.0ではこの問題は再現できるでしょうか？

[2021-11-11 06:39] eiennohito commented on #167
0.6.0 does not has this problem as it does not leak file descriptors.
We will not fix this issue in 0.5.* branch though.

[2021-11-11 06:39] #167 closed, assigned to nobody

[2021-11-24 19:44] hiroshi-matsuda-rit opened #168 "pyo3_runtime.PanicException occurs in Morpheme.surface() after calling Morpheme.split()"
I found an input pattern which causes exception in `sudachipy==0.6.0`.
The reproducing code below is the abstract of the Japanese tokenizer of spaCy v3.2.0.

[code]
[code]

[2021-12-09 10:23] polm opened #169 "Consider archiving this repo"
Since development has moved to the Rust version, if this version is not going to be maintained (which seems likely) it might be best to archive it to make it clear it's not active. The note in the README is helpful but not as clear as the banner that archived repos show.

[2022-01-21 23:51] radurevutchi opened #171 "Upgrading sortedcontainers"
Can we please loosen the `sortedcontainers` requirement. I have the PR here
https://github.com/WorksApplications/SudachiPy/pull/170

[2022-01-22 07:26] eiennohito commented on #171
Is there a reason why you can't use 0.6.* version?

[2022-01-22 07:27] eiennohito commented on #169
@kazuma-t what do you think?

I'd say let's wait 6 months from the SudachiPy 0.6.0 release and if nothing really serious comes up, let's archive this repo.

[2022-01-25 01:47] kazuma-t commented on #169
@eiennohito I agree with you.

[2022-02-03 06:29] kazukinagata opened #172 "Failed to load user dict"
こんにちは、素晴らしいライブラリをありがとうございます。

ユーザー辞書を登録するため`sudachi.json`をproject rootに配置し、`Dictionary`の`config_path`に`sudachi.json`までのパスを渡した際に以下のエラーが起きます。ユーザー辞書の期待するパスは`/path_to_myproject/dict/user.dic`ですが、実際に参照されるのは`/path_to_myproject/venv/lib/python3.8/site-packages/sudachipy/resources/dict/user.dic`のようです。

ちなみに、`pip install sudachipy`でインストールした場合にこのようなエラーになりますが、`pip install git+git://github.com/WorksApplicatio

[2022-02-04 01:45] eiennohito commented on #172
0.6.* は [resource_path](https://github.com/WorksApplications/sudachi.rs/blob/develop/sudachi/src/config.rs#L133)をもとにしかパスを解決していないのが問題です。

相対パスの場合、解決順を以下にするべき：

1) Config上の `path` に対してのバリュー
2) `resource_path` の値
3) `Config`のファイルの親フォルダー

かな

[2022-02-07 19:35] CberYellowstone opened #173 "How to pack sudachi with pyinstaller?"
すみません。日本語が苦手なので英語を使います( _←機械翻訳、敬語を使っていないかもしれませんが、申し訳ありません_ )
I want to pack my code which has used SudachiPy with **pyinstaller**,
however, when I pack it with this command:
`pyinstaller.exe -D .\main.py --collect-data sudachidict_full --hidden-import sudachidict_full`
the packed exe file can't run and it reported this:
[code]
More infomation:
`Python 3.7.9`  `pyinstaller 4.9` ` sudachiipy 0.6.2`

[2022-02-08 00:34] eiennohito commented on #173
I am not sure about the resulting format of the pyinstaller, but the possible problem could be related to the fact that we sort of abuse the installation script of sudachidict packages to download a precompiled dictionary from the internet.
We also assume the standard Python site-packages layout for libraries when searching for the precompiled dictionary. You can pass the absolute path to the down

[2022-02-10 01:02] #172 closed, assigned to eiennohito

[2022-02-10 05:43] eiennohito commented on #172
修正したv0.6.3をリリースしました。試してみてください。

[2022-02-10 12:59] CberYellowstone commented on #173
Solution:
[code]
It seems that it was not the dict's import problem, but the config's(笑)

[2022-02-10 12:59] #173 closed, assigned to nobody

[2022-02-12 11:48] wubowen416 opened #174 "Cannot install SudachiDict-core 20200722"
Hi, thank you for providing this repo.

I tried to install SudachiDict-core 20200722 from https://pypi.org/project/SudachiDict-core/20200722/, but the pip tells me that

[code]

Could you help me to find out?
Thanks in advance.

[2022-07-21 02:27] acro5piano commented on #173
Thanks @CberYellowstone , I've fixed the issue referring to your solution.

[code]

During debugging, I saw this error message which isn't impressive. Actually it means `config_path` or `dict` not found.

[code]

[2022-07-21 02:33] eiennohito commented on #173
Do not use `dict` and `dict_type` arguments together. Even more, `dict_type` is a deprecated argument do not use it at all. Using only `dict` should suffice (with 0.6.0+)

[2022-07-21 02:44] CberYellowstone commented on #173
you can look for one of my repository  which including a available example if you are still confused
this is the pyinstaller .spec file: [TransAssistant_core-lite.spec](https://github.com/GayWindTech/TransAssistant/blob/main/TransAssistant_core-lite.spec)
and this is my code: [Segmentation.py](https://github.com/GayWindTech/TransAssistant/blob/main/Segmentation.py)

[2022-07-21 02:50] acro5piano commented on #173
@eiennohito

Thank you for the information!

[2022-07-21 02:53] acro5piano commented on #173
@CberYellowstone

Thanks! I've implemented it by manually copying a dictionary after build, but defining them in .spec file should be the more elegant and robust way.